{
    "run": {
        "concurrency": "multiprocessing",
        "disable_warnings": "True"
    },
    "report": {
        "ignore_errors": "True"
    },
    "html": {
        "directory": "htmlcov"
    },
    "json": {
        "pretty_print": "True"
    }
}

